## Editors
##
*~
\#*
\.#*
*.swp
.dir-locals.el
tags

## Build artifacts
##
/bin
/dist
/dist-newstyle
.stack-work/

.ghc.environment.*
stack.yaml.lock

## Runtime artifacts
##
analysis
/db
/logs
/profile

*.csv
benchmark-results.log
launch_node
result*
state-*
timeline-*
