## Editors
##
*~
\#*
\.#*
*.swp
.dir-locals.el
tags

## Build artifacts
##
/bin
/dist
/dist-newstyle

.ghc.environment.*

## Runtime artifacts
##
analysis
/db
/logs
/profile
/runs*

*.csv
*.eventlog
*.tgz
benchmark-results.log
launch_node
result*
state-*
start-time
timeline-*
