[submodule "ext/cardano-db-sync.git"]
	path = ext/cardano-db-sync.git
	url = https://github.com/input-output-hk/cardano-db-sync.git
[submodule "ext/cardano-node.git"]
	path = ext/cardano-node.git
	url = https://github.com/input-output-hk/cardano-node.git
[submodule "ext/iohk-monitoring-framework.git"]
	path = ext/iohk-monitoring-framework.git
	url = https://github.com/input-output-hk/iohk-monitoring-framework.git
	branch = master
