@import url('http://fonts.googleapis.com/css?family=Roboto Condensed');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
}

.main-container {
    padding-top: 100px;
}

.main-container-inner {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 6px;
    margin-right: 6px;
}

.top-bar {
    background-color: #000;
    color: whitesmoke;
    padding-top: 18px;
    padding-bottom: 15px;
}

.top-bar .w3-dropdown-hover {
    padding-top: 10px;
    font-size: 110%;
}

.top-bar .w3-dropdown-hover .w3-button:hover {
    color: rgb(239, 19, 29) !important;
}

.w3-dropdown-hover:hover > .w3-button:first-child {
    color: rgb(239, 19, 29) !important;
    background-color: #000 !important;
}

.select-node-button:hover {
    color: rgb(239, 19, 29) !important;
    background-color: #000 !important;
}

.service-name {
    font-size: 120%;
    color: #ccc !important;
    padding-top: 14px;
    padding-right: 18px;
}

.node-name-area {
    font-size: 110%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #555;
}

.node-name {
    font-weight: bold;
    color: #333;
}

.node-bar {
    background-color: #333 !important;
    color: whitesmoke !important;
}

.node-bar .w3-button:hover {
    color: rgb(239, 19, 29) !important;
}

.active-tab {
    color: rgb(239, 19, 29) !important;
    font-weight: bold;
}

.tab-container {
    padding-top: 16px;
}

.errors-tab-container {
    overflow-y: scroll;
    height: 305px;
}

.warning-message {
    color: orange;
}

.error-message {
    color: red;
}

.critical-message {
    color: red;
    font-weight: bold;
}

.alert-message {
    color: red;
    font-weight: bold;
}

.emergency-message {
    color: red;
    font-weight: bold;
}

.node-container {
    min-height: 428px;
    background-color: #eee;
}

.active-node-mark {
    padding-left: 21px;
    font-weight: bold;
    font-size: 120%;
    color: #673ab7;
}

.release-name {
    font-weight: bold;
}

.iohk-logo {
    max-width: 214px;
}

.info-mark {
    padding-left: 5px;
    cursor: help;
}

.info-mark-img {
    max-width: 18px;
}

.cardano-name {
    font-weight: bold;
}

.top-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.density-percent {
    font-weight: normal;
}

.value-unit {
    color: #666;
    padding-left: 5px;
}

.value-unit-percent {
    color: #666;
}

.bar-value-unit {
    color: whitesmoke;
    padding-left: 5px;
}

.release-name {
}

a:link:hover {
    color: indigo;
}

a:visited:hover {
    color: indigo;
}

.commit-link {
    color: indigo;
}

.h-spacer {
    padding-left: 10px;
}

.percents-slash-h-spacer {
    padding-left: 9px;
    padding-right: 9px;
}

.percents-slash-h-r-spacer {
    padding-right: 9px;
}

.title-v-spacer {
    padding-top: 15px;
}

.node-info-v-spacer {
    padding-top: 18px;
}

.node-metrics-v-spacer {
    padding-top: 15px;
}

.node-info-values {
    font-weight: bold;
}

.node-port {
    padding-left: 10px;
}

.outdated-value {
    color: #999;
    font-weight: normal;
}

.ElRTSMemoryProgress {
    background-color: #007000;
    color: white;
}

.ElRTSMemoryProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElRTSMemoryProgressBox {
    background-color: #6cca6c;
}

.ElRTSMemoryProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElMemoryProgress {
    background-color: #007000;
    color: white;
}

.ElMemoryProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElMemoryProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElMemoryProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElMempoolBytesProgress {
    background-color: #007000;
    color: white;
}

.ElMempoolBytesProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElMempoolBytesProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElMempoolBytesProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElMempoolTxsProgress {
    background-color: #007000;
    color: white;
}

.ElMempoolTxsProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElMempoolTxsProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElMempoolTxsProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElCPUProgress {
    background-color: #007000;
    color: white;
}

.ElCPUProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElCPUProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElCPUProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElDiskReadProgress {
    background-color: #007000;
    color: white;
}

.ElDiskReadProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElDiskReadProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElDiskReadProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElDiskWriteProgress {
    background-color: #007000;
    color: white;
}

.ElDiskWriteProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElDiskWriteProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElDiskWriteProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElNetworkInProgress {
    background-color: #007000;
    color: white;
}

.ElNetworkInProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElNetworkInProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElNetworkInProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.ElNetworkOutProgress {
    background-color: #007000;
    color: white;
}

.ElNetworkOutProgress-outdated {
    background-color: #999;
    color: #999 !important;
}

.ElNetworkOutProgressBox {
    background-color: #6cca6c;
    color: white;
}

.ElNetworkOutProgressBox-outdated {
    background-color: #aaa;
    color: #999 !important;
}

.in-flight {
    color: #444;
    font-weight: bold;
}

.in-flight-values {
    color: #444;
    font-style: italic;
}
