body {
    font-size: 19px;
    background-color: whitesmoke;
}

.main-container {
    padding-top: 100px;
}

.main-container-inner {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 6px;
    margin-right: 6px;
}

.active-node-mark {
    padding-left: 21px;
    font-weight: bold;
    font-size: 120%;
    color: #673ab7;
}

.release-name {
    font-weight: bold;
}

.iohk-logo {
    max-width: 135px;
}

.info-mark {
    padding-left: 5px;
    color: indigo;
}

.cardano-name {
    font-weight: bold;
}

.top-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.density-percent {
    font-weight: normal;
}

.value-unit {
    color: #666;
    padding-left: 5px;
}

.bar-value-unit {
    color: whitesmoke;
    padding-left: 5px;
}

.release-name {
}

a:link:hover {
    color: indigo;
}

a:visited:hover {
    color: indigo;
}

.commit-link {
    color: indigo;
}

.h-spacer {
    padding-left: 10px;
}

.percents-slash-h-spacer {
    padding-left: 9px;
    padding-right: 9px;
}

.percents-slash-h-r-spacer {
    padding-right: 9px;
}

.title-v-spacer {
    padding-top: 15px;
}

.node-info-v-spacer {
    padding-top: 18px;
}

.node-metrics-v-spacer {
    padding-top: 18px;
}

.node-info-values {
    font-weight: bold;
}

.node-name {
}

.node-port {
    padding-left: 10px;
}
